<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

  <div class='nav'>
    <ul class='lists-left'>
      <%= link_to 'BandApp', root_path, class: "title" %>
    </ul>

    <ul class='lists-right'>
      <li><%= link_to '練習報告', "#", class: "report" %></li>
      <li><%= link_to 'アンケート', "#", class: "enquete" %></li>
      <li><%= link_to '出席状況', "#", class: "attendance" %></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, edit_user_path(current_user), class: "user_name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end%>
    </ul>

  </div>
</header>