<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

  <div class='nav'>
    <ul class='lists-left'>
      <%= link_to 'BandApp', root_path, class: "title" %>
    </ul>

    <ul class='lists-right'>
      <li><%= link_to '練習報告', "#", class: "report" %></li>
      <li><%= link_to 'アンケート', "#", class: "enquete" %></li>
      <li><%= link_to '出席状況', "#", class: "attendance" %></li>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>

  </div>
</header>