<%= render "shared/header" %>
<div class="main">
  <div class="detail-container">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post detail-date">練習日</th>
          <td class="detail-value detail-date"><%= @post.date.strftime("%Y/%m/%d()") %></td>
        </tr>
        <tr>
          <th class="detail-post detail-name">投稿者</th>
          <td class="detail-value detail-name"><%= @post.user.name %></td>
        </tr>
        <tr>
          <th class="detail-post">練習曲</th>
          <td class="detail-value", style="white-space:pre-wrap;"><%= @post.program %></td>
        </tr>
        <tr>
          <th class="detail-post">事務連絡</th>
          <td class="detail-value", style="white-space:pre-wrap;"><%= @post.information %></td>
        </tr>
        <tr>
          <th class="detail-post">感想</th>
          <td class="detail-value", style="white-space:pre-wrap;"><%= @post.feedback %></td>
        </tr>
      </tbody>
    </table>

    <div class="edit-destroy-btn-container">
      <% if current_user.id == @post.user_id %>
        <%= link_to "修正", edit_post_path(@post), method: :get, class: "post-edit-btn" %>
        <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "削除しますか?"}, class: "post-destroy-btn" %>     
      <% end %>
    </div>

    <%# いいね機能 %>
    <% if @post.favorited?(current_user) %>
      <%= link_to post_favorite_path(@post.id), method: :delete do %>
        <span style="color:yellow">★</span> <%= @post.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(@post.id), method: :post do %>
        <span>★ </span><%= @post.favorites.count %>
      <% end %>
    <% end %>
    <%# いいね機能 %>

    <div id="report_comments">
      <h4>＜コメント一覧＞</h4>
      <% @post.report_comments.each do |report_comment| %>
        <div class="report-comment">
          <p class="user-info"><%= report_comment.user.name %>: </p>
          <p><%= report_comment.text %></p>
        </div>
      <% end%>
    </div>

    <div class="report_comment-form">
      <% if user_signed_in? %>
        <%= form_with model: [@post, @report_comment], id: "report_comment-form" do |f| %>
          <%= f.text_area :text, class: "report_comment-text" %>
          <%= f.submit "コメントする", class: "report_comment-submit" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>